doctype 5
html
  head
    title Maaas - Edit Application
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type="text/css" media="screen")
      #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }

  body

    #editor.div #{code}

    script(src="/script/ace/ace.js" type="text/javascript" charset="utf-8")
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
