doctype 5
html
  head
    title Maaas - Edit Application
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="/static/js/debugger.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type="text/css" media="screen").
      #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 260px;
        }
      .ace_gutter-cell.ace_breakpoint {
        border-radius: 20px 20px 20px 20px; 
        box-shadow: 0px 0px 1px 1px red inset; 
        } 
      .active-breakpoint {
        background: rgba(255, 50, 50, 0.5);
        position: absolute;
        width: 100% !important;
        left: 0 !important;
        }
      button.debug {
        padding: 2px 8px 2px 2px;
        line-height: 26px;
        }
      button.debug:before {
        content: "";
        float: left;
        width: 32px;
        height: 24px;
        margin: 0 0 0 0;
        background:url(https://raw.githubusercontent.com/node-inspector/node-inspector/master/front-end/Images/statusbarButtonGlyphs.png) no-repeat;
        }
      button#start:before { background-position: -64px -48px; }
      button#stop:before { background-position: -256px 0px; }
      button#continue:before { background-position: -0px -72px; }
      button#stepin:before { background-position: -64px -72px; }
      button#stepout:before { background-position: -96px -72px; }
      button#stepover:before { background-position: -128px -72px; }

  body

    div(id="optionsPanel" style="position:absolute; width:260px")
      div#module No module loaded
      button(id="save",onClick='doSave();',style="display: none;") Save Changes
      ul
        each val in files
          li
            a(href="#", onClick="return loadModule('" + val + "');") #{val}

      button.debug(id='start',onClick='debugStart();') Start debugging
      br
      button.debug(id='stop',onClick='debugStop();') Stop debugging
      br
      button.debug(id='continue',onClick='debugContinue();') Continue
      br
      button.debug(id='stepin',onClick='debugStep("in");') Step In
      br
      button.debug(id='stepout',onClick='debugStep("out");') Step Out
      br
      button.debug(id='stepover',onClick='debugStep("next");') Step Over      

    #editor.div #{code}

    script(src="/script/ace/ace.js" type="text/javascript" charset="utf-8")
    script(type='text/javascript', src="/static/js/editpage.js")
    script.
      initEditPage("#{page}");

