<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Maaas.io</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" action="/login" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Mobile Application As A Service</h1>
        <p>
            Maaas.io is a revolutionary new platform that allows you to create high quality, high performance, 
            cross-platform native mobile applications via your web browser using simple and familiar tools (JavaScript
            and the Node.js framework).  The best part: your mobile application actually runs in the cloud!  Your application
            runs on mobile devices without any of your application code running on the device.  Did we just blow your mind?
        </p>
        <p>
            <a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Native Apps on Every OS</h2>
            <p>
                Build high quality native apps with native look and feel and native performance on iOS, Android,
                Windows, and Windows Phone.  Apps instantly work and look great on all devices, but for more control you
                can customize the layouts for a given device type, screen size, OS, or any combination.  Best of
                all, you build and deploy the app to your mobile clients ONCE.
            </p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Build and Run in the Cloud</h2>
            <p>
                Your mobile apps are created, managed, and hosted in the cloud, meaning that you can make changes, test, and 
                deploy to your entire installed base in minutes.  No more distribution hassles or configuration control nightmares.
                Options to run Maaas.io on the cloud provider of your choice, or on-premise, are also available.
            </p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Integrated Everything</h2>
            <p>
                Amazing editor and debugger, unit test framework, localization support, staging and deployment 
                management, mobile client app generator, and more, all accessible through a web browser.  Build
                awesome native mobile apps with no additional tools or software
            </p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Maaas.io 2014</p>
    </footer>
</div>
<!-- /container -->
