<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!-- Web Deploy currently applies the Debug transform regardless of the selected configuration, so let's skip this for now -->
    <!--
    <appSettings>
        <add xdt:Transform="Insert" key="Transformed" value="Release" />
    </appSettings>
    
    <system.webServer>
        <iisnode
            xdt:Transform="Replace"
            debuggingEnabled="true"
            loggingEnabled="true"
            devErrorsEnabled="true"
            nodeProcessCommandLine="&quot;D:\Program Files (x86)\nodejs\node.exe&quot;"
            />      
    </system.webServer>
    -->
</configuration>
